/* Đặt margin cho container */
c-container {
    margin: 50px auto;
    max-width: 500px; 
}

form {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
h1{
    text-align: center;
    padding-bottom: 2rem;
}

label {
    margin: auto;
    font-weight: bold; 
    margin-top: 5px; 
}

input[type="email"],
input[type="password"],
input[type="checkbox"] {
    padding: 10px; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    margin-top: 5px; 
}

/* Định dạng cho nút */
button[cButton] {
    background-color: #007bff; /* Màu nền cho nút */
    color: white; /* Màu chữ cho nút */
    padding: 10px 15px; /* Khoảng cách bên trong nút */
    border: none; /* Không có đường viền */
    border-radius: 4px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ khi di chuột qua nút */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
    width: 100%; 
}

/* Đổi màu khi hover */
button[cButton]:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

/* Định dạng cho checkbox */
c-form-check {
    display: flex; /* Để căn chỉnh checkbox và label */
    align-items: center; /* Căn giữa dọc */
}

/* Định dạng cho label checkbox */
c-form-check label {
    margin-left: 5px; /* Khoảng cách cho label checkbox */
}
